@model IEnumerable<System_RPG_Prototyp.UZYTKOWNIK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HASLO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFON)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HASLO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFON)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDUZYTKOWNIK }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDUZYTKOWNIK }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDUZYTKOWNIK })
            @Html.ActionLink("Show", "Show", new { id = item.IDUZYTKOWNIK })
        </td>
    </tr>
}

</table>
