@model IEnumerable<System_RPG_Prototyp.OCENA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UZYTKOWNIK.NAZWA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UZYTKOWNIK.NAZWA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDOCENA }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDOCENA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDOCENA })
        </td>
    </tr>
}

</table>
